<form method="post">
    <input name="username" placeholder="Username" class="form-control" />
    <input name="password" type="password" placeholder="Password" class="form-control mt-2" />
    <button type="submit" class="btn btn-primary mt-2">Login</button>
</form>

@if(ViewBag.Error != null)
{
    <p class="text-danger">@ViewBag.Error</p>
}
